<form [formGroup]="formGroup" (input)="onFormChange()" (ngSubmit)="onFormSubmit()">
  <h2>Авторизация</h2>
  <div>
    <label>Логин</label>
    <input formControlName="login" />
    <small>обязательное поле</small>
  </div>

  <div>
    <label>Пароль</label>
    <input formControlName="password" type="password" />
    <small>обязательное поле</small>
  </div>

  <button [disabled]="formGroup.invalid || !!formError">Войти</button>
  <small *ngIf="formError">{{ formError }}</small>
	{{ formGroup.errors | json }}
	{{ formGroup.invalid | json }}
</form>
